<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'register.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item lines="full">
      <ion-label position="floating">{{'register.firstName' | translate}}</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'register.lastName' | translate}}</ion-label>
      <ion-input type="text" required formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'register.email' | translate}}</ion-label>
      <ion-input type="email" required formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'register.password' | translate}}</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'register.repeatPassword' | translate}}</ion-label>
      <ion-input type="password" required formControlName="repeatPassword"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="signUp()" expand="block">{{'register.signUp' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>