<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{selectBackUrl()}}">
      </ion-back-button>
      <ion-title>{{(isUpdate ? 'group.titleUpdate' : 'group.title') | translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup">
    <ion-item lines="full">
      <ion-label position="floating">{{'group.groupName' | translate}}</ion-label>
      <ion-input type="text" required formControlName="groupName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'group.owner' | translate}}</ion-label>
      <ion-input type="text" required formControlName="owner"></ion-input>
    </ion-item>

    <div class="autocomplete">
      <ion-searchbar formControlName="searchText" (ionFocus)="isFocused = true" (ionChange)="search()"
        (ionBlur)="setFocus()" debounce=100 placeholder="{{'group.repondents' | translate}}"
        disabled="{{getDisableDelete()}}">
      </ion-searchbar>
      <ion-list *ngIf="isFocused">
        <ion-item *ngFor="let item of searchData" (click)="addRepondent(item)">
          {{item.email}}
        </ion-item>
      </ion-list>
    </div>

    <ion-card *ngIf="repondentsData && repondentsData.length > 0">
      <ng-container *ngFor="let item of repondentsData; let i = index">
        <ion-chip class="disabled">
          <ion-label>{{item}}</ion-label>
          <ion-icon name="close-circle" (click)="deleteRepondent(i)"></ion-icon>
        </ion-chip>
      </ng-container>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="createGroup()">
          {{(isUpdate ? 'commons.update' : 'commons.create') | translate}}
        </ion-button>
        <ion-button type="submit" color="danger" (click)="deleteGroup()" disabled="{{getDisableDelete()}}">
          {{('commons.delete') | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>