<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [icon]="buttonIcon" defaultHref="/tabs/principal-menu">
      </ion-back-button>
      <ion-title>
        {{'viewPoll.doPoll' | translate}}
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="pollData" class="poll-container">
  <ion-list>
    <ng-container *ngFor="let item of pollData.questions; let i = index">
      <ion-item lines="none">
        <ion-text color="primary" expand="block">
          <h1>{{item}}</h1>
        </ion-text>
      </ion-item>
      <ion-item class="icon-container">
        <ion-icon src="./assets/custom-icons/sad.svg" (click)="addAnswer(i, 0)"></ion-icon>
        <ion-icon src="./assets/custom-icons/nosense.svg" (click)="addAnswer(i, 1)"></ion-icon>
        <ion-icon src="./assets/custom-icons/happy.svg" (click)="addAnswer(i, 2)"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button (click)="sendAnswer()" expand="block" [disabled]="getFullAnswer()">
    {{'commons.send' | translate}}
  </ion-button>
</ion-content>