.poll-container {
    .icon-container {
        ion-icon {
            width: 30%;
            font-size: 5em;
            margin-right: 3%;
        }
    }

    .selected-option{
        width: 1em;
        height: 1em;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #5cb85c;
    }
}