<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/view-polls">
      </ion-back-button>
      <ion-title>{{'viewPoll.titleResults'| translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="pollData">
    <ng-container *ngFor="let item of pollData.questions; let i = index">
      <ion-item>
        <ion-label>{{item}}</ion-label>
        <ng-container *ngFor="let answer of pollData.answers">
          <ion-item class="icon-container">
            <ion-label>{{answer.user}}</ion-label>
            <ng-container [ngSwitch]="answer.answersData[i]">
              <ion-icon src="./assets/custom-icons/sad.svg" *ngSwitchCase="1"></ion-icon>
              <ion-icon src="./assets/custom-icons/nosense.svg" *ngSwitchCase="2"></ion-icon>
              <ion-icon src="./assets/custom-icons/happy.svg" *ngSwitchCase="3"> </ion-icon>
            </ng-container>
          </ion-item>
        </ng-container>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>