<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'principalTitle' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'principalTitle' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="navigateTo('/tabs/create-poll')">
    {{'createPolls' | translate}}
  </ion-button>
  <ion-button expand="block">
    {{'showPolls' | translate}}
  </ion-button>
</ion-content>