<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'principal.principalTitle' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'principal.principalTitle' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="navigateTo('/tabs/create-poll')">
    {{'principal.createPolls' | translate}}
  </ion-button>
  <ion-button expand="block">
    {{'principal.showPolls' | translate}}
  </ion-button>
  <ion-button expand="block" (click)="navigateTo('/tabs/create-group')">
    {{'principal.createGroup' | translate}}
  </ion-button>
  <ion-button expand="block" (click)="navigateTo('/tabs/view-groups')">
    {{'principal.viewGroups' | translate}}
  </ion-button>
</ion-content>